:root {
    --color-dark: #121521;
    --color-middle: #1B213A;
    --color-light: #40467C;
    --color-light-hover: #51578C;
    --color-white: #ffffff;
    --text-dark: #141923;
    --text-light: #B2B2D3;
  
    --font-size-base: 20px;
    --grid-gutter: 30px;
  }